@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #4e342e;
    --background: 12 96.3% 98.48%;
    --foreground: 12 2.6% 0.96%;

    --muted: 12 2.6% 92.4%;
    --muted-foreground: 12 1.3% 42.4%;

    --popover: 12 69.2% 92.4%;
    --popover-foreground: 12 2.6% 1.2%;

    --card: 12 69.2% 92.4%;
    --card-foreground: 12 2.6% 1.2%;

    --border: 12 7.6% 89.96%;
    --input: 12 7.6% 89.96%;

    --primary: 12 26% 24%;
    --primary-foreground: 12 0.52% 92.4%;

    --secondary: 12 1.3% 96.2%;
    --secondary-foreground: 12 2.56% 12.4%;

    --accent: 12 1.3% 96.2%;
    --accent-foreground: 12 2.56% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 12 26% 24%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
